<!DOCTYPE html>
    <head>

        
        <link rel="shortcut icon" href="imagenes/fondo1.jpg">
        <meta charset="utf-8">
        <title>Inicio</title>
    </head>
    <br>
    <br>
   
      
        <body background="~/Images/fondo1.jpg" >

            <div>
                <center>
                    <nav>
                   

                            <button id="home"><a href="Index.cshtml" class="homeIcon">Home</a></button>
                            <button id="about"><a href="SobreNosotros.cshtml">Sobre Nosotros</a></button>
                            <button id="services"><a href="Servicios.html">Servicios</a></button>
                            <button id="logins"><a href="Login.html">Iniciar Sesion</a></button>
                        
                    </nav>
                </center>

                <div>
                    <center>
                        <img src="#home" name="banner" width="80%" height="300px" border="0" />
                    </center>
                </div>
           








</div>

</body>