<div class="hero-unit">
    <div>
        <center>
            <h2>Empleados</h2>
            <br><br>
            <ul>
                <label>Id:</label>
                <input type="text" id="txtId" />

                <label>Nombre:</label>
                <input type="text" id="txtNombre" />

                <label>Puesto:</label>
                <input type="text" id="txtPuesto" />

                <label>Fecha Ingreso:</label>
                <input type="text" id="txtFechaIngreso" />

                <label>Sueldo:</label>
                <input type="text" id="txtSueldo" />

                <br>
                <input type="button" id="btnInsertar" value="Insertar" />
                <input type="button" id="btnEliminar" value="Eliminar" />
                <input type="button" id="btnModificar" value="Modificar" />
                </li>

            </ul>
        </center>
    </div>
</div>